<div class="post-header main-content-wrap {{ if $.Params.metaalignment }}text-{{ $.Params.metaalignment }}{{ else }}text-left{{ end }}">
  {{ with $.Params.link }}
    <h1 itemprop="headline"> 
      <a class="link" href="{{ . | absURL }}" target="_blank" itemprop="url">
        {{ $.Title }}
      </a>
    </h1>
  {{ else }}
    <h1 class="post-title" itemprop="headline">
      {{ $.Title }}
    </h1>
  {{ end }}
  {{ partial "post/meta.html" . }}
   <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- dot tech links -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5244482572741917"
      data-ad-slot="9454392541"
      data-ad-format="link"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   <br>
</div>
